ClientInterface/Connected Services/MyService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestApp.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestApp.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAllUsersStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllUsersStatistic" nillable="true" type="tns:AllUsersStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllUsersStatistic" nillable="true" type="tns:ArrayOfAllUsersStatistic" />
  <xs:complexType name="AllUsersStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="userEventsCount" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllUsersStatistic" nillable="true" type="tns:AllUsersStatistic" />
  <xs:complexType name="ArrayOfUserStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserStatistic" nillable="true" type="tns:UserStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserStatistic" nillable="true" type="tns:ArrayOfUserStatistic" />
  <xs:complexType name="UserStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mousX_pos" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="mousY_pos" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStatistic" nillable="true" type="tns:UserStatistic" />
</xs:schema>