ClientInterface/Connected Services/MyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMousEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MousEvent" nillable="true" type="tns:MousEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMousEvent" nillable="true" type="tns:ArrayOfMousEvent" />
  <xs:complexType name="MousEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eventTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mousX_pos" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="mousY_pos" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:ServerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MousEvent" nillable="true" type="tns:MousEvent" />
  <xs:complexType name="ServerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mousEvents" nillable="true" type="tns:ArrayOfMousEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerUser" nillable="true" type="tns:ServerUser" />
</xs:schema>